version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tallie-api-prod
    ports:
      - "5473:5473"
    environment:
      DB_CONNECTION_STRING: ${DB_CONNECTION_STRING}
      REDIS_HOST: redis_cache
      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    env_file:
      - .env.prod
    depends_on:
      postgres_db:
        condition: service_healthy
      redis_cache:
        condition: service_healthy